.form {
  display: flex;
  width: 100%;
  border-top: 2px solid #7289da;
  border-radius: 0px 0px 4px 4px;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  border-radius: 0px 0px 4px 4px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.sendButton:hover {
  cursor: pointer;
  color: #eaded0 !important;
  background: #5f5b60;
}

.sendButton {
  color: #36393f !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7289da;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-radius: 0px 0px 4px 0px;
}
