.infoBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #7289da;
  border-radius: 4px 4px 0px 0px;
  min-height: 50px;
  width: 100%;
}

.Box-1-leftInnerContainer {
  width: 25%;
  display: flex;
  align-items: center;
  color: #36393f;
  padding-left: 5px;
}
.Box-2-centerInnerContainer {
  width: 68%;
  align-items: center;
  justify-content: left;
  color: #36393f;
  text-transform: capitalize;
}

.Box-3-rightInnerContainer {
  display: flex;
  width: 4%;
  align-items: flex-end;
  padding-right: 12px;
}

.onlineIcon {
  margin-right: 5%;
}

.online {
  flex-direction: column;
}
.visitedGray {
  color: #36393f;
}
