html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #36393f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* .center {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #36393f;
} */

.card {
  /* width: 15ch;
  height: 15ch; */
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  background: #36393f;
  /* border-radius: 5px; */
  background-image: url(../../../icons/apple-touch-icon.png);
  background-size: cover;
  background-position: center center;
  /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); */
  transition: box-shadow 0.5s;
  will-change: transform;
  /* border: 15px solid white; */
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
