/* html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #36393f;
} */





.card1,
.card2,
.card3 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  opacity: 0.1;

  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(../../../icons/universe.svg);
}

.card2 {
  opacity: 0.8;

  width: 25ch;
  height: 25ch;
  background-image: url(../../../icons/business.svg);
}

.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(../../../icons/live-chat.svg);
}

/* .card4 {
  width: 25ch;
  height: 25ch;
  background-image: url();
} */

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #36393f;

}


/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */